.FileLoaderBox {
  .dropzone {
    width: 100%;
    min-height: 150px;
    border: 1px dashed $grey;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    &.focused {
      border-color: $darkGrey;
    }

    &.isDragAccept {
      border-color: $darkGrey;
    }

    &.isDragReject {
      border-color: $red;
    }
  }
}
